.bicycle-list {
  padding: 120px 0px;
}

.bicycle-list h2 {
  padding: 0 20px 40px 20px;
}

.bicycle-list ul {
  display: flex;
  gap: 40px;
  max-width: 1400px;
  margin: auto;
  padding: 0 20px 20px 20px;
  overflow-x: auto;
}

.bicycle-list ul li {
  flex: 1;
  min-width: 280px;
}

.bicycle-list a {
  display: block;
}

.bicycle-list ul h3 {
  margin: 16px 0 8px;
}

.bicycle-list ul h3::before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 8px;
  vertical-align: middle;
  margin-right: 8px;
  background-color: var(--color-p1);
  transition: width 0.2s;
}

.bicycle-list ul a:hover h3::before {
  width: 24px;
}

.bicycle-list ul span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .bicycle-list {
    padding-bottom: 60px;
  }
  
  .bicycle-list ul {
    gap: 20px;
  }
}